#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

if ARCH_BOARD_RDA5981



config RDA5981_PWM_CHNUM
    int "Number of PWM channel"
    default 6

    ---help---
        Sets the number of pwm channel exposed RDA5981C
        evaluation board


choice
	bool "Build for qemu hardware"
	default QEMU_NONE

config QEMU_SRAM
	bool "Build for SRAM increased QEMU Hardware"
	---help---
		Build for SRAM increased QEMU Hardware.

config QEMU_SDRAM
	bool "Build for SDRAM(External RAM) enabled QEMU Hardware"
	---help---
		Build for SDRAM(External RAM) enabled QEMU Hardware.

config QEMU_NONE
	bool "NONE"
	---help---
		Dont build for Qemu Hardware.
endchoice
endif
